:root {
  --bg-color-light: #27323d;
  --bg-color-dark: #010101;
  --text-color: #fefefe;
  --highlight-color: #f1b310;
}

.highlight {
  color: var(--highlight-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-color-light);
  color: var(--text-color);
  height: 90vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  color: var(--text-color);
  background-color: var(--bg-color-light);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.content {
  max-width: 75%;
}

.modal-body, .modal-header {
  color: var(--text-color);
  background-color: var(--bg-color-light);
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-dark);
}

.info-header {
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
}

.info-pane {
  display: inherit;
  flex-direction: row;
  justify-content: center;
}

.pane-left {
  max-width: 50%;
  align-self: flex-start;
}

.pane-right {
  max-width: 50%;
  align-self: flex-end;
}

.info-metadata {
  display: inherit;
  flex-direction: column;
}

.metadata-row {
  display: inherit;
  justify-content: space-between;
}

.wkt {
  overflow-wrap: break-word;
  background-color: var(--bg-color-light);
}

.map {
  width: 300px;
  height: 300px;
}

.corner-coordinates {
  display: inherit;
  flex-direction: column;
  background-color: var(--bg-color-light);
}

.coordinates-header {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}

.export-buttons {
  display: inherit;
  flex-direction:row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
